*.mp4
*.avi
*.mov
*.wmv
*.flv
*.webm

*.pyc
*.pyo
*.pyd
*.pycache
*.egg-info
*.dist-info
*.so
*.dll
*.exe
*.lib
*.a
*.o
*.obj
*.dylib
*.so
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.bz2
*.xz
*.rar
*.7z
*.iso
*.img
*.vhd

